$light-blue: #38aef0;
$side-white: #ffffff;
$header-navy: #253141;
$groups-navy: #2f3e51;
$border-white: #eeeeee;
$header-black: #333333;
$light-gray: #999999;
$chat-white: #fafafa;
$message-black: #434a54;
$form-gray: #dddddd;